body {
  margin: 0;
  text-align: center;
}

h1 {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Berkshire Swash", cursive;
}

.top-container {
}

.middle-container {
}

.bottom-container {
}

.pro {
  text-decoration: underline;
}

.bottom-cloud {
}

.top-cloud {
}
