body {
  margin: 0;
}
.main {
    position: fixed;
  background-color: aqua;
  width: 700px;
  height: 700px;
}

.top {
  position: absolute;
  background-color: red;
  width: 200px;
  height: 200px;
}

.middle {
  position: absolute;
  left: 200px;
  bottom: 100px;
  background-color: green;
  width: 200px;
  height: 200px;
}

.bottom {
  position: absolute;
    left: 400px;
    bottom: -100px;
  background-color: orange;
  width: 200px;
  height: 200px;
}
